---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2> Academic Projects </h2>

{% assign ordered_portfolio = site.portfolio | sort:"order" %}

{% for post in ordered_portfolio %}
  
  {% if post.personal == false %}
  
    {% include archive-single.html %}
  
  {% endif %}
  
{% endfor %}

<h2> Personal Projects </h2>

{% for post in site.portfolio %}
  
  {% if post.personal == true %}
  
    {% include archive-single.html %}
  
  {% endif %}
  
{% endfor %}

