---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<b>Online Samples of my Works</b>: 
<br/>
<ul>
   <li>
   <a href="files/code/UI_Experiments/index.html">
		<img src="../files/code/UI_Experiments/screenshots/3.png" width="60"> WebGl Experiments
   </a>
   </li><li>
   <a href="http://visuallife.info">
		<img src="../images/VisualLife.png" width="60"> Visual Life
   </a>
   </li><li>
	<a href="http://arabicpdf.com">
		<img src="../images/pdf_to_text.png" width="60"> Arabic Pdf
   </a>
   </li>
</ul> 

<h2> Academic Projects </h2>

{% assign ordered_portfolio = site.portfolio | sort:"order" %}

{% for post in ordered_portfolio %}
  
  {% if post.personal == false %}
  
    {% include archive-single.html %}
  
  {% endif %}
  
{% endfor %}

<h2> Personal Projects </h2>

{% for post in site.portfolio %}
  
  {% if post.personal == true %}
  
    {% include archive-single.html %}
  
  {% endif %}
  
{% endfor %}

